@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');


* {
    background: linear-gradient(90deg, hsl(192, 100%, 80%), hsl(328, 100%, 85%));
    font-family: Fuzzy Bubbles;
    color: hsl(64, 100%, 70%);
    text-shadow:0px 0px 10px rgb(0,0,0), 1px 1px 10px #c9f8ce;
    font-size: 2.5vmin;
    text-align: center;
}

header {
    text-align: center;
    margin-top: 3vh;
}

h1 {
    font-size: 2.5rem;
}

table {
    margin: auto;
    margin-top: 3vh;
    table-layout: fixed;
}

tr {
    height: 15vmin;
}

td {
    width: 15vmin;
    background: none;
    background-color: hsl(328, 100%, 85%);
    font-weight: 700;
}

td:hover {
    background-color: hsl(328, 100%, 75%);
}

#playagain {
    font-size: 1.5rem;
    padding: 0.5rem;
    background: linear-gradient(-90deg, hsl(62, 79%, 90%), hsl(335, 77%, 90%));
    visibility: hidden;
    margin: auto;
}